/tmp/db/#innodb_redo/
/tmp/db/#innodb_temp/
/tmp/db/monro/
/tmp/db/mysql/
/tmp/db/performance_schema/
/tmp/db/sys/
/tmp/db/#ib_16384_0.dblwr
/tmp/db/#ib_16384_1.dblwr
/tmp/db/auto.cnf
/tmp/db/binlog.000001
/tmp/db/binlog.000002
/tmp/db/binlog.000003
/tmp/db/binlog.000004
/tmp/db/binlog.000005
/tmp/db/binlog.index
/tmp/db/ca.pem
/tmp/db/ca-key.pem
/tmp/db/client-cert.pem
/tmp/db/client-key.pem
/tmp/db/ib_buffer_pool
/tmp/db/ibdata1
/tmp/db/mysql.ibd
/tmp/db/mysql.sock
/tmp/db/mysql_upgrade_history
/tmp/db/private_key.pem
/tmp/db/public_key.pem
/tmp/db/server-cert.pem
/tmp/db/server-key.pem
/tmp/db/undo_001
/tmp/db/undo_002
